.winning {
    font-weight: bold;
    color: coral;
}

.won {
    font-weight: bold;
    color: aquamarine;
}

.selected {
    font-weight: bold;
    color:burlywood;
}

.kenotable {
    text-align: center;
}

.betinput {
    background-color: #c1c1c1;
}