#home-content {
    width: 100%;
    height: 100vh;
    background: url("/static/images/widejeff.jpg") center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagecenter {
    width: 50%;
    margin: 0 auto;
}

.centertext {
    text-align: center;
}

.bigtitle {
    font-size: calc(1.5rem + 3vw);
    font-weight: 1000;
    font-family:verdana,sans-serif;
}

.coinimg {
    width: 100%;
    max-width: 500px;
}
