.nicetable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 0.13);
    font-size: 18px;
    margin-bottom: 100px;
}

.nicetable th,
.nicetable td {
    text-align: left;
    padding: 12px;
}

.breakname {
    word-break: break-all;
}

.nicetable tr {
    border-bottom: 1px solid rgba(221, 221, 221, 0.123);
}

.nicetable tr.header,
.nicetable tr:hover {
    background-color: rgba(221, 221, 221, 0.253);
}
